*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'bar';
    src: url('./fonts/BacasimeAntique-Regular.ttf');
  }

body{
    font-family: bar, 'Times New Roman', Times, serif;
}

/* Header section  */

header{
    padding: 10px 100px; 
    overflow: hidden;
    position: relative;
    text-align: center;
}

a{
    text-decoration: none;
}

.logo{
    width: 90px;
    border-radius: 50%;
    float: left;
}

nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul{
    list-style: none;
    font-size: 1.5vw;
}

nav li{  
    display: inline;
    margin: 0 10px;
    padding: 5px;
    color: black
}

nav li:hover{
    border-radius: 10px;
    color: white;
    background-color: #5c3d34;
}

.social-media{
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
}


.social-icons{
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Banner section */

.banner{
    position: relative;
    background-image: url('./images/banner-section/banner.jpg');
    background-size: cover ;
    height: 560px;
    text-align: center;
}

.centralizing{
    display: inline-block;
    height: 100%;
}

.banner a{
    font-size: 60px;
    color: white;;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    bottom: 50%;
    left: 35%;
    transform: translate(-50%, 50%);
}

.banner a:hover{
    background-color: #5c3d34bb;
}

/* Menu section  */

.menu{
    padding: 0px 50px;
    text-align: center;
    width: 360px;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,0.7);
    float: right;
}

.menu h2{
    padding: 20px; 
    font-size: 30px;
    font-weight: normal;
}  

.menu img{
    width: 150px;
    border-radius: 50%;
    margin: 0px 10px;
}

.menu ul{
    list-style: none;
}

.menu li{
    display: inline-block;
    margin-bottom: 20px;
}

.menu p{
    font-size: 30px;
    margin-top: 5px;
}

/* More orders section  */

#more-orders{
    padding: 0px 100px;
    text-align: center;
    background: linear-gradient(to right,#8c817d, #b2a4a0, #8c817d);
    color: white;
}

#more-orders h2{
    font-size: 40px;
    font-weight: normal;
    padding: 20px;    
}

#more-orders img{
    width: 300px;
    height: 400px;
    margin: 0px 25px;
    border-radius: 20px;
}

#more-orders ul{
    list-style: none;
}

#more-orders li{
    display: inline-block;
    margin-bottom: 40px;
}

#more-orders p{
    font-size: 30px;
    margin-top: 5px;
}

/* About us section  */

#about-us{
    position: relative;
    padding: 50px;
    height: 400px;
}


.brown-rectangle{
    position: absolute;
    left: 200px;
    height: 80%;
    width: 25%;
    background-color:#b2a4a0;
    border-radius: 20px;
}

.brown-rectangle img{
    height: 405px;
    width: 300px;
    position: absolute;
    top: 20px;
    right: -40px;
    border-radius: 20px;
    box-shadow: -4px 4px 15px 4px rgba(0, 0, 0, 0.2);
}

.text{
    position: absolute;
    right: 200px;
    width: 30%;
    text-align: justify;
    margin-bottom: 20px;
}

.text h2{
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 20px;    
}

.text p{
    margin-bottom: 20px;
}

/* footer section  */

footer{
    height: 150px;
    background-color: #5c3d34;
    margin-top: 10px;
    text-align: center;
    padding: 40px;
}

.container{
    width: 600px;
    margin: auto;
    overflow: hidden;
}

.contact{
    color: white;
    float: left;
    text-align: left;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.contact a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.location{
    color: white;
    float: right;
    text-align: left;
}

.location h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.location p{
    font-size: 20px;
}

/* Botões finais */

.back{
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: #8c817d;
    border-radius: 20px;
    float: right;
}

.whatsapp{
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: #008000;
    border-radius: 20px;
    position: fixed;
    left: 20px;
    bottom: 20px;
}

