*{
    margin: 0;
    padding: 0;
}

header{
    padding: 10px 100px; 
    overflow: hidden;
    position: relative;
}

.logo{
    width: 90px;
    border-radius: 50%;
    float: left;
}

.social-media{
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
}

.social-icons{
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.banner{
    background-image: url('./images/banner.jpg');
    background-size: cover ;
    height: 545px;
}