*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'bar';
    src: url('./fonts/BacasimeAntique-Regular.ttf');
  }

body{
    font-family: bar, 'Times New Roman', Times, serif;
}

/* Header section  */

header{
    padding: 10px 100px; 
    overflow: hidden;
    position: relative;
    text-align: center;
}

a{
    text-decoration: none;
}

.logo{
    width: 90px;
    border-radius: 50%;
    float: left;
}

nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul{
    list-style: none;
    font-size: 1.5vw;
}

nav li{  
    display: inline;
    margin: 0 10px;
    padding: 5px;
    color: black
}

nav li:hover{
    border-radius: 10px;
    color: white;
    background-color: #5c3d34;
}

.social-media{
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
}


.social-icons{
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.container{
    width: 65%;
    margin: auto;
    text-align: center;
}

section{
    text-align: left;
    background-color:#8c817d;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
    color: white;
}

#coffees h2{
    margin-bottom: 20px;
}

#coffees ul{
    list-style: none;
}

#coffees li{
    margin: 15px 0px;
    font-size: 20px;
}