*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'bar';
    src: url('./fonts/BacasimeAntique-Regular.ttf');
  }

body{
    font-family: bar, 'Times New Roman', Times, serif;
}

/* Header section  */

header{
    padding: 10px 100px; 
    overflow: hidden;
    position: relative;
    text-align: center;
}

a{
    text-decoration: none;
}

.logo{
    width: 90px;
    border-radius: 50%;
    float: left;
}

header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: normal;
}


.social-media{
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
}


.social-icons{
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.container{ 
    margin: auto;

    text-align: center;
}

/* menu sections */

.order{
    background-image: url('../images/cadapio/order.png');
    background-size: cover;
    height: 605px;
    width: 33%;
    background-repeat: no-repeat;
    float: left;
}

.menu1, .menu2{
    height: 605px;
    width: 33%;
    background-color: #fdf5e6;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-align: center; 
    padding: 20px;
    box-sizing: border-box;
    color: #5c3d34;
}

.menu2{
    float: right;
}

.menu1 h2, .menu2 h2{
    font-size: 26px;
}

.menu1 ul, .menu2 ul{
    text-align: left;
    list-style: none;
    font-size: 20px;
}

.menu1 li{
    margin: 20px 0;
}

.menu1 p, .menu2 p{
    font-size: 12px;
}



